header {
    min-height: 550px;
    width: 100%;
    /* background: linear-gradient(to top,  #f4eeff8c, white); */
    background-color: #e7eeee;
    padding-top: 5.5rem;
    padding-bottom: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.headerBg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: color-burn;
}

#startNow {
    position: relative;
}

#startNow::after {
    content: "";
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    background: var(--teal);
    z-index: -1;
}

.visionContainer {
    height: auto;
    width: auto;
    background: var(--light_teal);
    border-radius: 20px;
    padding: 2rem 2rem;
}

/* work  */

#work {
    background: var(--light_gray);
}

.workCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media (max-width: 991px) {
    .workCardContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

@media (max-width: 525px) {
    .workCardContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
}

.workCard {
    position: relative;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}

.workCard img {
    border-radius: 15px;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 3;
}


/* ongping projects  */
#ongoing_projects {
    height: auto;
    width: auto;
    background-color: var(--teal);
}

.ongoing_project_card {
    min-height: 400px;
    width: auto;
    border-radius: 10px;
    background: #fffbfb;
    padding: 0.9rem;
    text-align: start;
}

.projectTypeIcon {
    height: 50px;
    width: 50px;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--lighter_teal);
    fill: var(--teal);
}

.platformFeatures {
    font-size: 13px;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    margin: 0.1rem 0;
    background: var(--light_gray);
    color: black;
}


/* start today  */
#start_today {
    background: linear-gradient(0, var(--light_gray), transparent);
}

.startBanner {
    height: auto;
    width: 100%;
    background: var(--teal);
    border-radius: 20px;
    padding: 2.5rem 2rem;
}

/* about  */
.aboutCard {
    height: 250px;
    width: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1 {
    background: #F3F8FF;
}

.card2 {
    background: #F7F9F2;
}

.card3 {
    background: #E9FFC2;
}

.card4 {
    background: #F8E8EE;
}